<h1><%= @pet.name %></h1>
<p>Color: <%= @pet.color %></p>
<p>Address: <%= @pet.address %></p>
<p>Species: <%= @pet.species.capitalize %></p>
<p>Date: <%= @pet.date %></p>


<%= link_to "Back", pets_path %>
<%= link_to "DESTROY IT", delete_pet_path(@pet), method: :delete %>
